## Taller Listas, pero en lenguaje **Lua**

*Punto **1***

In [ ]:
cuadrados = {}

for i = 1, 10 do
    table.insert(cuadrados, i * i)
end

print("1:", table.concat(cuadrados, ", "))

*Punto **2***

In [ ]:
Numerosdel0al20 = {}
for i = 0, 20 do
    if i % 2 == 0 then
        table.insert(Numerosdel0al20, i)
    end
end
print("2:", table.concat(Numerosdel0al20, ", "))

*Punto **3***

In [ ]:
Numeros2x = {}
for i = 1, 5 do
    table.insert(Numeros2x, i * 2)
end
print("3:", table.concat(Numeros2x, ", "))

*Punto **4***

In [ ]:
vocales = {}
for letra in ("programacion"):gmatch(".") do
    if letra:match("[aeiou]") then
        table.insert(vocales, letra)
    end
end
print("4:", table.concat(vocales, ", "))

*Punto **5***

In [ ]:
lenguajes = {"python", "java", "c++"}
mayusculas = {}
for _, palabra in ipairs(lenguajes) do
    table.insert(mayusculas, string.upper(palabra))
end
print("5:", table.concat(mayusculas, ", "))

*Punto **6***

In [ ]:
par_impar = {}
for i = 1, 10 do
    if i % 2 == 0 then
        table.insert(par_impar, "par")
    else
        table.insert(par_impar, "impar")
    end
end
print("6:", table.concat(par_impar, ", "))

*Punto **7***

In [ ]:
tuplas = {}
for i = 1, 5 do
    table.insert(tuplas, "(" .. i .. "," .. i * i .. ")")
end
print("7:", table.concat(tuplas, ", "))

*Punto **8***

In [ ]:
combinaciones = {}
for _, letra in ipairs({"a", "b"}) do
    for _, num in ipairs({1, 2, 3}) do
        table.insert(combinaciones, letra .. num)
    end
end
print("8:", table.concat(combinaciones, ", "))

*Punto **9***

In [ ]:
palabras = {"sol", "estrella", "mar", "planeta", "arroz"}
largas = {}
for _, p in ipairs(palabras) do
    if #p > 5 then
        table.insert(largas, p)
    end
end
print("9:", table.concat(largas, ", "))

*Punto **10***

In [ ]:
temperaturas = {20, 25, 27, 30, 33}
clima = {}
for _, t in ipairs(temperaturas) do
    if t < 26 then
        table.insert(clima, "frío")
    elseif t <= 29 then
        table.insert(clima, "templado")
    else
        table.insert(clima, "caliente")
    end
end
for i, t in ipairs(temperaturas) do
    print("10:", t, "→", clima[i])
end